<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog Lite - Create</title>
  </head>
  <body>
  <div style="text-align:right;">
    <a href="/search">search</a>
    | 
    <a href="/profile/{{user.user_id}}"> My Profile </a> 
    |
    <a href="/logout">logout</a>
  </div>  
  <h1>Create blog</h1>
  <form action="/create_blog" method="POST" name="new_blog" enctype='multipart/form-data'>
    <div>  
    <label>title:</label>
    <input type="text" name="title" required>
    </div>
    <div>
      <label>content:</label>
      <textarea type="text" name="content" rows="20" cols="30" required></textarea>
    </div>
    <div>
      <label>Upload Image:</label>
      <input type="file" name="image">
    </div>
    <div>
      <input type="submit" value="submit">
    </div>
  </form>
  </body>
</html>