<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog Lite - Login</title>
  </head>
  <body>
  <h1>Blog Lite</h1>
  <h2>Login</h2>
  <form action="/" method="POST" id="login">
  <div>
    <label>username: </label>
    <input type="text" name="name" required>
  </div>
  <div>
    <label> password: </label>
    <input type="password" name="password" required>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  </form>
  <a href="/register">New user?</a>
  </body>
</html>