<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog Lite - Register</title>
  </head>
  <body>
  <h1>Register / Sign up</h1>
  <div>
    <form action="/register" method="POST" id="register">
  <div>
    <label>user name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div>
    <label> password: </label>
    <input type="password" name="password" id="password" required>
  </div>
  <div>
    <label> confirm password: </label>
    <input type="password" name="confirm_password" id="confirm_password" required>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  </form>
  </div>
  <p>Have an account &nbsp <a href="/">Login </a></p>
  </body>
</html>